################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ALight.NLog.LayoutRenderer.Hash/bin
/ALight.NLog.LayoutRenderer.Hash/obj
/ALight.NLog.LayoutRenderer.Hash.Benchmarks/bin
/ALight.NLog.LayoutRenderer.Hash.Benchmarks/obj
/ALight.NLog.LayoutRenderer.Hash.Tests/bin
/ALight.NLog.LayoutRenderer.Hash.Tests/obj
/Example1/bin
/Example1/obj
