<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >

  <!-- // This config file is direct "copy and paste" from NLog's console example with slight modifications-->

  <extensions>
    <add assembly="ALight.NLog.LayoutRenderer.Hash" />
  </extensions>

  <targets>
    <target xsi:type="File" name="logfile" fileName="c:\temp\console-example.log"
            layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring} ${hash:hello} 
            ${securehash:value=${level}} ${event-properties:item=secret} ${hash:${event-properties:item=secret}} ${hash:${level}:objectpool=true}" />
    <target xsi:type="Console" name="logconsole"
            layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring} ${hash:hello} ${securehash:value=${level}} 
            ${event-properties:item=secret} ${hash:${event-properties:item=secret}} " />
    <!-- Ofcourse, the string hello, ${level} are not sensitive info but any other possible info that needs to be used for correlation but do not want actual values in logs can be used-->
    <!-- For example, IP, SessionID, Cookie Values etc... -->
    <!-- Use hash for non-cryptographic hash, securehash for cryptographic hash. In real-world in most scenarios real sesitive info such as credit cards / SSN / Passswords should not be stored in logs anyway  -->
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
  </rules>
</nlog>